{% load static %}

<html>
    <head>
        <title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'searchWord/css/headerSearch.css' %}">
	<script src="{% static 'searchWord/js/goTo.js' %}"></script>
        <meta charset=“UTF-8”>
    </head>
    <body>
            <div class="headsearch">
	    <div class="head_container">
		<a href= "/">
                    <div class="google_logo"></div>
		</a>
		<input id="text_box" type="text" onkeypress="if(event.keyCode==13){const textValue = document.getElementById('text_box').value; if(textValue===''){alert('Invalid Input. Please search a word.')} else{const encoded_textValue = encodeURIComponent(textValue); location.replace('/loading/'+encoded_textValue, '_self');}}" placeholder="{{ queryWord }}"/>
		    <div class="apps_profile_box_container">
                        <div class="nav_profile_box"></div>
                        <div class="nav_icon_box1"></div>
		    </div>
            </div>
	    </div>
	    <!-- MAIN CONTENT -->
            <div id="main_content_wrap" class="outer">
                <section id="main_content" class="inner">
                    <div class="google-image-layout" data-google-image-layout data-max-height="250">
                        {% for image in images %}
                            <img src="{{ image }}"/>
                        {% endfor %}
	            </div>
            </div>

            <!-- FOOTER  -->
            <script src="{% static 'searchWord/js/imagesloaded.pkgd.min.js' %}"></script>
            <script src="{% static 'searchWord/js/google-image-layout.js' %}"></script>
            <script src="{% static 'searchWord/js/main.js' %}" async=false></script>

            <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
            <script type="text/javascript">
                try {
                     var pageTracker = _gat._getTracker("UA-54605887-1");
                     pageTracker._trackPageview();
                } catch(err) {}</script>
    </body>
</html>
