{% load staticfiles %}
{% load static %}

<html>
    <head>
        <title></title>
	<link rel="stylesheet" href="{% static 'searchWord/css/google_home.css' %}">
	<meta charset=“UTF-8”>
	<script src="{% static 'searchWord/js/goTo.js' %}"></script>
    </head>
    <body>
        <div id="header">
            <div class="nav_bar">
                <div class="nav_icon_box1"></div>
                <div class="nav_profile_box"></div>
            </div>
        </div>
        <div id="body">
	    <a href="javascript:window.location.href=window.location.href">
            	<img id="logo" src="{% static "searchWord/images/2000px-Google_2015_logo.svg.png" %}">
	    </a>
            <input id="text_box" type="text" onkeypress="if(event.keyCode==13){const textValue = document.getElementById('text_box').value; const encoded_textValue = encodeURIComponent(textValue); location.replace('/loading/'+encoded_textValue, '_self');}" placeholder="search your loading page...">
            <div class="footer">
                <div class="company_info">
                    <a href="#"><p>about</p></a>
                </div>
                <div class="company_info">
                    <a href="#"><p>contact</p></a>
                </div>
                <div class="user_info">
                    <a href="#"><p>dora.visuallab</p><a>
                </div>
            </div>
        </div>
    </body>
</html>

