{% load static%}

<html>
    <head>
	<link rel="stylesheet" href="{% static 'searchWord/css/scroll_reveal.css' %}">
    </head>
    <body>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-3">Now Loading...
        </div>
        <div class="foo  foo-4">Now Loading...
        </div>
        <div class="foo  foo-5">Now Loading...
        </div>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-8">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-4">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-3">Now Loading...
        </div>
        <div class="foo  foo-5">Now Loading...
        </div>
        <div class="foo  foo-9">Now Loading...
        </div>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-3">Now Loading...
        </div>
        <div class="foo  foo-4">Now Loading...
        </div>
        <div class="foo  foo-7">Now Loading...
        </div>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-4">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-10">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-3">Now Loading...
        </div>
        <div class="foo  foo-5">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
	<div class="foo  foo-1">Now Loading...
	</div>
	<div class="foo  foo-2">Now Loading...
	</div>
	<div class="foo  foo-3">Now Loading...
	</div>
	<div class="foo  foo-4">Now Loading...
	</div>
	<div class="foo  foo-5">Now Loading...
	</div>
	<div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-11">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-4">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
        <div class="foo  foo-1">Now Loading...
        </div>
        <div class="foo  foo-3">Now Loading...
        </div>
        <div class="foo  foo-5">Now Loading...
        </div>
        <div class="foo  foo-2">Now Loading...
        </div>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script>
		window.sr = ScrollReveal({ reset: true });
		sr.reveal('.foo-1', {
			duration: 200 
		});
		sr.reveal('.foo-2', {
  			origin: 'right',
  			duration: 600
		});
		sr.reveal('.foo-3', {
  			duration: 600
		});
		sr.reveal('.foo-4', {
			duration: 600
		});
		sr.reveal('.foo-5', {
			duration: 600
		});
	</script>
	<script src="{% static 'searchWord/js/passWordToS3.js' %}" queryWordOnScript="{{ queryWord }}"></script>
    </body>
</html>
