aiohttp==3.3.2
asn1crypto==0.24.0
async-timeout==3.0.0
asyncio==3.4.3
attrs==18.1.0
Automat==0.7.0
awsebcli==3.14.3
beautifulsoup4==4.6.0
blessed==1.15.0
boto3==1.6.11
botocore==1.9.11
cached-property==1.4.3
cement==2.8.2
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
cycler==0.10.0
defusedxml==0.5.0
Django==2.0.3
django-appconf==1.0.2
django-compressor==2.2
django-libsass==0.7
django-storages==1.6.5
docker==3.5.0
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
hyperlink==18.0.0
icrawler==0.6.2
idna==2.6
idna-ssl==1.1.0
incremental==17.5.0
jmespath==0.9.3
jsonschema==2.6.0
kiwisolver==1.0.1
libsass==0.14.5
lxml==4.2.3
matplotlib==2.2.2
multidict==4.3.1
numpy==1.15.0
oauthlib==2.1.0
parsel==1.5.0
pathspec==0.5.5
Pillow==5.0.0
psycopg2==2.7.4
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2018.3
PyYAML==3.13
queuelib==1.5.0
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==1.0.0
rjsmin==1.0.12
s3transfer==0.1.13
Scrapy==1.5.1
selenium==3.13.0
semantic-version==2.5.0
service-identity==17.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
Twisted==18.7.0
urllib3==1.22
w3lib==1.19.0
wcwidth==0.1.7
websocket-client==0.48.0
yarl==1.2.6
yolk==0.4.3
zope.interface==4.5.0
