<!-- mycss.css -->

a {
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b7b7b7;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b7b7b7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b7b7b7;
}

#submit {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); /* Safari & Chrome */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%); /* Internet Explorer */
    -o-transform: translate(-50%, -50%);
    right: 30px;
}

.logo_search_bar_icon_container{
    position: relative;
    height: 54px;
    width: 770px;
    margin-left: 15px;
    top:50%;
    float:left;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); /* Safari & Chrome */
    -moz-transform: translate(0%, -50%); /* Firefox */
    -ms-transform: translate(0%, -50%); /* Internet Explorer */
    -o-transform: translate(0%, -50%);
}

.head_container{
    height: 60px;
    min-width:950px;
    position: relative;
    overflow:hidden;
    margin-top: 20px;
    display:block;
    overflow: hidden;
}

.apps_profile_box_container{
    height: 54px;
    width: 150px;
    position: relative;
    top:50%;
    left: 0%;
    float:right;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); /* Safari & Chrome */
    -moz-transform: translate(0%, -50%); /* Firefox */
    -ms-transform: translate(0%, -50%); /* Internet Explorer */
    -o-transform: translate(0%, -50%);    
    overflow:hidden;
}

.nav_icon_box1 {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    float: right;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); /* Safari & Chrome */
    -moz-transform: translate(0%, -50%); /* Firefox */
    -ms-transform: translate(0%, -50%); /* Internet Explorer */
    -o-transform: translate(0%, -50%);
    background-image: url("../images/apps_before_hover.png");
}

.nav_icon_box1:hover {
    background-image: url("../images/apps_after_hover.png");
}

.nav_profile_box {
    width: 67;
    height: 31;
    display: inline-block;
    position: relative;
    float:right;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); /* Safari & Chrome */
    -moz-transform: translate(0%, -50%); /* Firefox */
    -ms-transform: translate(0%, -50%); /* Internet Explorer */
    -o-transform: translate(0%, -50%);
    margin-right: 20px;
    margin-left: 20px;
    background-image: url("../images/login.png");
}

.google_logo {
    background-image: url("../images/2000px-Google_2015_logo.svg.png");
    background-size: cover;
    width: 120px;
    height: 40px;
    display: inline-block;
    position: absolute;
    margin-left: 0px;
    margin-right: 5px;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); /* Safari & Chrome */
    -moz-transform: translate(0%, -50%); /* Firefox */
    -ms-transform: translate(0%, -50%); /* Internet Explorer */
    -o-transform: translate(0%, -50%);
    resize: both;
    vertical-align: middle;
}

.headsearch {
    width: 102%;
    height: 100px;
    position: relative;
    top: -9px;
    left: -1%;
    right: 1%;
    border: 1px solid #d2d2d2;
    background-color: #fbfbfb;
}

#text_box {
    padding: 10px;
    display: inline-block;
    position: absolute;
    transition: box-shadow .3s;
    width: 632px;
    height: 44px;
    top: 50%;
    left: 17%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); /* Safari & Chrome */
    -moz-transform: translate(0%, -50%); /* Firefox */
    -ms-transform: translate(0%, -50%); /* Internet Explorer */
    -o-transform: translate(0%, -50%);
    margin-left: 5px;
    margin-right: 5px;
    border-radius:2px;
    vertical-align: middle;
    float:left;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border: 1px solid #ccc;
    background: #fff;
    font: 18px arial,sans-serif;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.08);
    overflow:hidden;
}
#text_box::-webkit-input-placeholder {
    color: #65737e;
}

#text_box:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

#text_box::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

#text_box:-ms-input-placeholder {
    color: #65737e;
}
#text_box:focus {
    outline:none;
}
#text_box:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
    transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}

#main_content_wrap {
}

#main_content {
}

google-image-layout img {
  visibility: hidden;
}

.google-image-layout img.layout-completed {
  visibility: visible;
}


