option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ys_webpage.settings"
    "PYTHONPATH": "/opt/python/current/app/ys_webpage:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"

  aws:elasticbeanstalk:container:python:
    WSGIPath: ys_webpage/wsgi.py

  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
