h1 a {color: #FCA205;}
input:-ms-input-placeholder {color:#a8a8a8;}
input::-webkit-input-placeholder {color:#a8a8a8;}
input::-moz-placeholder {color:#a8a8a8;}

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

p {
    text-align:center;
}

.container {
  width: 70%;
  height: 70%;
  margin: 40px auto;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered {
  position: relative;
  display: inline-block;
  width: 50%;
  padding: 8em;
  font-family: 'Nanum Pen Script', cursive, Serif, "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
}

#centeredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#link_id {
        background-color: #fff;
        border: 1px solid rgb(185,185,185);
        border-radius: 1px;
        border-top-color: rgb(160,160,160);
        cursor: text;
        font: 18px arial,sans-serif;
        height: 36px;
        line-height: 36px;
        max-width: 672px;
        position: relative;
        width: 428px;
}
