{% load staticfiles %}
{% load static %} 
<html>
    <head>
        <title>enterance</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <dev>
    	<img src="{% static "searchWord/2000px-Google_2015_logo.svg.png" %}" alt="My image" width="100" width="200"/>
    </dev>
<html>
